
<section class="content-header">
    <h1>
        Marks Report
        <!--<small>Preview of UI elements</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Marks Report</li>
    </ol>
</section>

<section class="content">


    <div class="box">
        <div class="box-body">
            <div class="row">

                <div class="col-xs-2">
                    <label>Start Date* </label><!--{{MaxDate.toString()}}-->
                    <div class="datepicker" id="Div1" date-format="MMM dd, yyyy" date-min-limit="{{MaxDate.toString()}}" button-prev="<i class=&quot;fa fa-arrow-circle-left&quot;></i>" button-next="<i class=&quot;fa fa-arrow-circle-right&quot;></i>">
                        <input ng-required="true" class="form-control" contenteditable="false" name="ExpectedStartDate" ng-model="ReportInput.StartDate" type="text" />
                    </div>
                </div>
                <div class="col-xs-2">
                    <label>End Date* </label><!--{{MaxDate.toString()}}-->
                    <div class="datepicker" id="Div1" date-format="MMM dd, yyyy" date-min-limit="{{MaxDate.toString()}}" button-prev="<i class=&quot;fa fa-arrow-circle-left&quot;></i>" button-next="<i class=&quot;fa fa-arrow-circle-right&quot;></i>">
                        <input ng-required="true" class="form-control" contenteditable="false" name="ExpectedStartDate" ng-model="ReportInput.EndDate" type="text" />

                    </div>
                </div>
                <div class="col col-xs-2">
                    <label>Agency</label>
                    <select class="form-control" ng-disabled="session.RoleName != 'HOAdmin'" ng-options="pt.Agency_Id as pt.AgencyName for pt in ReportFilter.AgencyList" ng-model="ReportInput.Agency_Id"
                            ng-change="GetFacultyList(ReportInput.Agency_Id)"></select>
                </div>

                <div class="col col-xs-2">
                    <label>Program</label>
                    <select class="form-control" ng-options="pt.ProgramId as pt.ProgramName for pt in ReportFilter.ProgramList" ng-model="ReportInput.ProgramId"></select>
                </div>

                <div class="col col-xs-2">
                    <label>Session</label>
                    <select class="form-control" ng-options="pt.SessionID as pt.SessionID for pt in ReportFilter.SessionList" ng-model="ReportInput.SessionID"></select>
                </div>

                <div class="col col-xs-2" ng-hide="session.RoleName == 'Faculty'">
                    <label>Faculty</label>
                    <select class="form-control" ng-options="pt.Faculty_Id as pt.FacultyName for pt in ReportFilter.FacultyList" ng-model="ReportInput.Faculty_Id"></select>
                </div>

                <div class="col col-xs-4" style="margin-top: 15px;float: right;text-align: right;">
                    <button class="btn btn-primary btn-xs" ng-click="ResetFilters(ReportInput)">Reset Filters</button>
                    <button class="btn btn-success btn-xs" ng-click="GetReport(ReportInput)">Go</button>
                </div>
            </div>


        </div>
        <div class="box-body" style="overflow-y:auto">
            <div class="row" ng-show="ShowReport">
                <div class="col col-xs-3">
                    <label>
                        Search :
                        <input class="form-control" type="text" placeholder="Search.." ng-model="SearchText" />
                    </label>

                </div>
                <div class="col col-xs-3 pull-right text-right">
                    <button class="btn btn-success btn-xs" style="margin-top:30px;" ng-click="exportExcel()">Get Report</button>
                </div>

            </div>

            <table class="table table-bordered table-hover" ng-show="ShowReport">
                <thead>
                    <tr style="background: #ecf0f5;font-size: 12px;vertical-align: top;">
                        <th style="vertical-align:top;">S.No</th>
                        <th style="vertical-align:top;">MSPIN</th>
                        <th style="vertical-align:top;">Name</th>
                        <th style="vertical-align:top;">Program code</th>
                        <th style="vertical-align:top;">Session ID</th>
                        <th style="vertical-align:top;">Date of Start</th>
                        <th style="vertical-align:top;">Day 1</th>
                        <th style="vertical-align:top;">Day 2</th>
                        <th style="vertical-align:top;">Day 3</th>
                        <th style="vertical-align:top;">Day 4</th>
                        <th style="vertical-align:top;">Day 5</th>
                        <th style="vertical-align:top;">Day 6</th>
                        <th style="vertical-align:top;">Day 7</th>
                        <th style="vertical-align:top;">Day 8</th>
                        <th style="vertical-align:top;">Day 9</th>
                        <th style="vertical-align:top;">Day 10</th>
                        <th style="vertical-align:top;">Day 11</th>
                        <th style="vertical-align:top;">Day 12</th>
                        <th style="vertical-align:top;">Day 13</th>
                        <th style="vertical-align:top;">Day 14</th>
                        <th style="vertical-align:top;">Day 15</th>
                    </tr>
                </thead>
                <tbody dir-paginate="pt in MarksReport| itemsPerPage: 10  | filter: SearchText" current-page="currentPage">
                    <!--|filter: serachText-->
                    <tr style="font-size:11px;">

                        <td>{{(currentPage-1)*10+$index+1}}</td>
                        <td>{{pt.MSPIN}}</td>
                        <td>{{pt.Name}}</td>
                        <td>{{pt.ProgramCode}}</td>
                        <td>{{pt.SessionID}}</td>
                        <td>{{pt.StartDate|date:'dd-MMM-yy'}}</td>
                        <td ng-repeat="day in pt.DayWiseScore">
                            <span ng-if="day.IsPresent==0"></span>
                            <span ng-if="day.IsPresent==1"><b>{{day.studentmrks}}</b></span>

                        </td>
                        <!--<td>
                    <span ng-if="pt.IsPresentInPreTest==0">NA</span>
                    <span ng-if="pt.IsPresentInPreTest==1">{{pt.PreTest_MarksObtained}}</span>
                </td>
                <td>
                    <span ng-if="pt.IsPresentInPostTest==0">NA</span>
                    <a href="" ng-click="ShowPostTestsScore(pt)"></a>
                    <span ng-if="pt.IsPresentInPostTest==1">{{pt.PostTest_MarksObtained}}</span>
                </td>-->
                    </tr>
            </table>

            <dir-pagination-controls max-size="10"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
            <div style="display:none;">
                <table id="DayWiseReport" class="table table-bordered table-hover">
                    <thead>
                        <tr style="background: #ecf0f5;font-size: 12px;vertical-align: top;">
                            <th style="vertical-align:top;">S.No</th>
                            <th style="vertical-align:top;">MSPIN</th>
                            <th style="vertical-align:top;">Name</th>
                            <th style="vertical-align:top;">Program code</th>
                            <th style="vertical-align:top;">Session ID</th>
                            <th style="vertical-align:top;">Date of Start</th>
                            <th style="vertical-align:top;">Day 1</th>
                            <th style="vertical-align:top;">Day 2</th>
                            <th style="vertical-align:top;">Day 3</th>
                            <th style="vertical-align:top;">Day 4</th>
                            <th style="vertical-align:top;">Day 5</th>
                            <th style="vertical-align:top;">Day 6</th>
                            <th style="vertical-align:top;">Day 7</th>
                            <th style="vertical-align:top;">Day 8</th>
                            <th style="vertical-align:top;">Day 9</th>
                            <th style="vertical-align:top;">Day 10</th>
                            <th style="vertical-align:top;">Day 11</th>
                            <th style="vertical-align:top;">Day 12</th>
                            <th style="vertical-align:top;">Day 13</th>
                            <th style="vertical-align:top;">Day 14</th>
                            <th style="vertical-align:top;">Day 15</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="pt in MarksReport">
                        <!--|filter: serachText-->
                        <tr style="font-size:11px;">
                            <td>{{$index+1}}</td>
                            <td>{{pt.MSPIN}}</td>
                            <td>{{pt.Name}}</td>
                            <td>{{pt.ProgramCode}}</td>
                            <td>{{pt.SessionID}}</td>
                            <td>{{pt.StartDate|date:'dd-MMM-yy'}}</td>
                            <td ng-repeat="day in pt.DayWiseScore">
                                <span ng-if="day.IsPresent==0"></span>
                                <span ng-if="day.IsPresent==1"><b>{{day.studentmrks}}</b></span>

                            </td>
                            <!--<td>
                        <span ng-if="pt.IsPresentInPreTest==0">NA</span>
                        <span ng-if="pt.IsPresentInPreTest==1">{{pt.PreTest_MarksObtained}}</span>
                    </td>
                    <td>
                        <span ng-if="pt.IsPresentInPostTest==0">NA</span>
                        <a href="" ng-click="ShowPostTestsScore(pt)"></a>
                        <span ng-if="pt.IsPresentInPostTest==1">{{pt.PostTest_MarksObtained}}</span>
                    </td>-->
                        </tr>
                </table>
                <!--<dir-pagination-controls max-size="10"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>-->
            </div>
        </div>
    </div>

</section>
