
<section class="content-header">
    <h1>
        Question Setup
        <!--<small>Preview of UI elements</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Test Setup</a></li>
        <li class="active">  Question  Setup</li>
    </ol>
</section>
<section class="content">
    <div class="box" style="margin:0">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-xs-4">
                    <h5 style="margin:0">
                        <b>Program Name:</b>
                        <span ng-bind="ProgramName"></span>
                    <!----   <span ng-bind="QuestionBankData[0].ProgramName"></span>  -->
                    </h5>
                </div>
                <div class="col-xs-4">
                    <h5 style="margin:0">
                        <b>Day:</b>
                        <span ng-bind="Day"></span>

                        <!--<span ng-bind="QuestionBankData[0].DayCount"></span>-->
                    </h5>
                </div>
                <div class="col-xs-4">
                    <h5 style="margin:0">
                        <b>Test Type:</b>
                        <span ng-if="TestType=='1'">Pre Test</span>
                        <span ng-if="TestType=='2'">Daily Test</span>
                        <span ng-if="TestType=='3'">Post Test</span>
                        <!--<span ng-if="QuestionBankData[0].TypeOfTest=='1'">Pre Test</span>
                        <span ng-if="QuestionBankData[0].TypeOfTest=='2'">Daily Test</span>
                        <span ng-if="QuestionBankData[0].TypeOfTest=='3'">Post Test</span>-->
                    </h5>
                </div>
            </div>
        </div>

        <div class="box" ng-show="showAddBulkButton==true" style="margin:0; border:0">
            <div class="box-header with-border">
                <!--<button class="btn btn-primary btn-sm" ng-click="GetList(SearchData,TargetType)">Search</button>-->
                <button class="btn btn-success btn-sm btn-xs" ng-click="AddQuestionBank()">Add Question </button>

                <button class="btn btn-primary btn-sm btn-xs" ng-click="AddBulk()">Bulk Upload</button>
                <button class="btn btn-primary btn-sm btn-xs" ng-click="AddLanguage()">Add Language Wise </button>
                <button class="btn btn-danger btn-sm btn-xs" ng-show="ShowDeleteAllButton" ng-click="DeleteAllSelected()">Delete All Selected</button>
                <button class="btn btn-warning btn-sm pull-right btn-xs" ng-click="Back()">Back</button>
                <input type="text" placeholder="Search here.." ng-model="SearchText" />
                
                <select class="form-control" ng-show="QuestionPaperType=='Set'" ng-options="item.Set_Id as ('Set-')+item.SetNumber for item in SetSequence" ng-op="" ng-model="Set_Id"
                        style="width:166PX;FLOAT:RIGHT;MARGIN-RIGHT: 15PX;HEIGHT: 30PX;">
                    <option value="">Select Set</option>
                </select>
                
                <select class="form-control ng-pristine ng-valid ng-valid-required" style="width:166PX;FLOAT:RIGHT;MARGIN-RIGHT: 15PX;HEIGHT: 30PX;"
                        ng-options="item.LanguageMaster_Id as item.Language for item in ProgramLanguageArray" ng-model="QuestionDetailData.LanguageMasterId"
                        ng-change="ChangeFormat(QuestionDetailData.LanguageMasterId)">
                    <option value="">Select Language</option>
                </select>
            </div>
        </div>
            <div class="box" ng-show="showQuestionGrid ==true" style="border:0">
                <div class="box-body" style="overflow-y:auto">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr style="background: #ecf0f5;font-size: 12px;vertical-align: top;">
                                <th>S.No</th>
                                <th>
                                    <input type="checkbox" ng-change="SelectAllQues()" ng-model="SelectAll"/>Delete All
                                </th>
                                <!--<th>QuestionCode</th>-->
                                <th>Question </th>
                                <th>Options</th>
                                <th>Answer Key</th>
                                <th>image</th>
                                <!--<th>Action</th>-->
                                <!--<th>Type Of Test</th>
                                <th>Total No Question</th>
                                <td>Test Duration (Min)</td>
                                <th>Action</th>-->
                            </tr>
                        </thead>
                        <tbody ng-repeat="pt in QuestionBankData | filter:SearchText">

                            <tr>
                                <td>{{$index+1}}</td>
                                <td><input type="checkbox"ng-change="SelectedQuestions(pt.IsChecked)" ng-model="pt.IsChecked" /></td>
                                <!--<td>{{pt.QuestionCode}}</td>-->
                                <td>{{pt.Question}}</td>

                                <td>a. {{pt.Answer1}}<br />
                                b. {{pt.Answer2}}<br />
                                c. {{pt.Answer3}}<br />
                                d. {{pt.Answer4}}</td>



                                <td>{{pt.AnswerKey}}</td>
                              

                                <td>
                                    <a target="_blank" href={{pt.Image}}>
                                        <img ng-if="pt.Image !=null" ng-src={{pt.Image}} style="height: 100px;width: 100px;margin-bottom:5px;" />
                                    </a>
                                    <label><!--ng-if="pt.Image ==null"-->
                                        <button class="btn btn-primary btn-xs" ng-click="UpdateTransaction(pt)">Update Image</button>
                                    </label>
                                
                                </td>
                          <!---      <td>{{pt.TestDuration}}

                                <td>
                                    <button class="btn btn-warning btn-sm" ng-click="DeleteTransaction(pt)">Delete</button>
                                    <button class="btn btn-primary btn-sm" ng-click="UpdateTransaction(pt)">Update </button>
                                    <button class="btn btn-primary btn-sm" ng-click="AddQuestionBank(pt.ProgramTestCalenderId)">Add Question Bank </button>
                                </td>-->
                                <!--<td>
                                    <button class="btn btn-danger btn-sm btn-xs" ng-click="DeleteTransaction(pt)">Delete</button>

                                </td>-->
                            </tr>
                    </table>

                </div>

            </div>

        <div class="box" style="border: 0;" ng-show="AddGrid==true">
            <div class="box-header with-border">
                <h3 class="box-title">Add Question</h3>
             </div>

             <div class="box-body">

                 <div class="row well" style="margin:0 0 15px 0;padding:15px 0">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Question</label>
                                <textarea class=" form-control" ng-maxlength="100" ng-model="QuestionDetailData.Question" placeholder="Question Name" /></textarea>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group ">
                                <label class="control-label " for="andvalidUpto">
                                    Image Upload (if any)
                                </label>
                                <input type="file" file-model="Image" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <label>Answer Key</label>
                            <input maxlength="1" type="text" class=" form-control" ng-model="QuestionDetailData.AnswerKey" placeholder="Answer Key" />
                        </div>
                    </div>
                    
                    
                 <div class="well">
                         <div class="form-group">
                             <label>Option a</label>
                             <input type="text" class=" form-control" ng-maxlength="100" ng-model="QuestionDetailData.Answer1" placeholder="Option a" />
                         </div>

                         <div class="form-group">
                             <label>Option b</label>
                             <input type="text" class=" form-control" ng-maxlength="100" ng-model="QuestionDetailData.Answer2" placeholder="Option b" />
                         </div>

                         <div class="form-group">
                             <label>Option c</label>
                             <input type="text" class=" form-control" ng-maxlength="100" ng-model="QuestionDetailData.Answer3" placeholder="Option c" />
                         </div>

                         <div class="form-group">
                             <label>Option d</label>
                             <input type="text" class=" form-control" ng-maxlength="100" ng-model="QuestionDetailData.Answer4" placeholder="Option d" />
                         </div>
                 </div>
        
             </div>

             <div class="box-footer text-right">
                            <button class="btn btn-primary btn-sm btn-xs" ng-click="AddSaveQuestion()">Save</button>
                            <button class="btn btn-warning btn-sm btn-xs" ng-click="init()">Back </button>
                    </div>

          </div>
  
        <div class="box" style="border:0" ng-show="AddLanguageGrid==true">
            
             <div class="box-header with-border">
                    <h3 class="box-title" style="float:left;padding: 7px 0;">Step 1</h3>
                     <div class="col-xs-4">
                         <label>Select Language</label>
                         <select   class="form-control ng-pristine ng-valid ng-valid-required" ng-options="item.LanguageMaster_Id as item.Language for item in ProgramLanguageArray" ng-model="QuestionDetailData.LanguageMaster_Id">
                             <option value="">---Select Any Language--- </option>
                         </select>
                   
                     </div>
              </div>
                
            <div class="box-header with-border" style="border-bottom:2px solid #f4f4f4">
                <h3 class="box-title" style="padding: 7px 0;">
                    Step 2
                </h3>
                <button type="submit" class="btn btn-success btn-sm btn-xs" style="margin-left: 15px;" ng-click="Export()">Download Questions</button>
            </div>
                <div class="box-header with-border">
                    <h3 class="box-title" style="padding: 7px 0;float: left;">Step 3</h3>
                    <div class="col-xs-4">
                                <label>Upload</label>
                                <div class="input-group">
                                    <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                           file-model="File2" >
                                    <span class="input-group-addon" style="padding: 0;border: 0;"><button class="btn btn-success btn-sm btn-xs" ng-click="UploadLanguageExcelfunction(QuestionDetailData.LanguageMaster_Id)">Upload Excel</button></span>
                                </div>
                     </div>
                        <br />
                        <!--<a class="btn btn-success btn-sm" style="    margin-top: 7px;"href="../Excel Template/QuestionLanguage.xlsx">Download Template</a>-->
                    </div>
                    <div class="box-footer">
                            
                            <!--<a class="btn btn-primary btn-sm">Download Template</a>-->
                            <button class="btn btn-warning btn-sm pull-right btn-xs" ng-click="init()">Back </button>

                            <!--<button class="btn btn-primary btn-sm" ng-click="AddSaveQuestion()">Save</button>
                            <button class="btn btn-primary btn-sm" ng-click="init()">Back </button>-->
                    
                    </div>

                </div>
            </div>

    <div  class="box" ng-show="BulkGrid==true">
        <div class="box-header">
            <h3 class="box-title">Bulk Upload Question Bank </h3>
        </div>
        <div class="box-body">

            <section style="margin-left: 22px;">
                <div class="row">
                    <div class="col-sm-2"ng-show="QuestionPaperType=='Set'">
                        <div class="form-group">
                            <label>
                                Select Set:
                            </label>
                            <select class="form-control" ng-options="item.Set_Id as ('Set-')+item.SetNumber for item in SetSequence" ng-op="" ng-model="Set_Id"></select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <input type="file" style="margin-top: 31px;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                               file-model="File1" />
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-success btn-sm btn-xs" style="margin-top: 31px;" ng-click="UploadExcelfunction()">Upload Excel</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6"style=" margin-top: 15px;">
                        <!--<a class="btn btn-primary btn-sm">Download Template</a>-->
                        <a class="btn btn-primary btn-sm btn-xs" href="../Excel Template/QuestionBank.xlsx">Download Template</a>

                        <button class="btn btn-warning btn-sm btn-xs" ng-click="init()">Back </button>
                    </div>
                </div>

            </section>





        </div>
    </div>


    <div class="box" ng-show="UploadImageShow==true">
        <div class="box-header">
            <h3 class="box-title"> Upload Image Question Bank </h3>
        </div>
        <div class="box-body">

            <section style="margin-left: 22px;">
                <div>
                  
                    <div class="form-group ">
                        <label class="control-label " for="andvalidUpto">
                            Image Upload (if any)*
                        </label>
                        <input type="file" file-model="Image" />
                    </div>

                    <button class="btn btn-primary btn-sm btn-xs" ng-click="updateImage()">Save</button>
                    <button class="btn btn-primary btn-sm btn-xs" ng-click="init()">Back </button>

                </div>

            </section>





        </div>
    </div>


    </section>
