<div class="modal-header ng-scope">
    <h5 class="modal-title">
        <b>Marks Report</b>
        <input type="text" style="margin-left:13px;" placeholder="Search Here.." ng-model="SearchText" />
        <div style="float:right" class="jarviswidget-ctrls" role="menu">
            <a href="" ng-click="cancel()" class="button-icon jarviswidget-delete-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-times"></i></a>
        </div>
        <button class="btn btn-success btn-xs"  ng-click="exportExcel()">Get Report</button>
    </h5>
</div>
<!--<section class="content-header">
    <h1>
        Marks Report
    
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Marks Report</li>
    </ol>
    <button class="btn btn-warning btn-xs pull-right" style="background: red;margin-top: -25px;" >X</button>
</section>-->
<div class="modal-body">

    <div class="row">
        <div class="col col-xs-3" style="display:none">
            <label>
                Search :
                <input class="form-control" type="text" placeholder="Search.." ng-model="SearchText" />
            </label>
        </div>
        <div class="col col-xs-3 pull-right text-right">
           
        </div>
        <!--<div class="col col-xs-3">
            <label class="form-control">
                Marks Greater Than
                <input type="text" placeholder="Search.." ng-model="MarksGreater" />
            </label>
        </div>
        <div class="col col-xs-3">
            <label class="form-control">
                Marks Less Than
                <input type="text" placeholder="Search.." ng-model="MarksLess" />
            </label>
        </div>-->
    </div>

    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>S.No</th>
                <th>MSPIN</th>
                <th>Name</th>
                <th>Program code</th>
                <th>Session ID</th>
                <th>Date of Start</th>
                <th>Pre Test Score</th>
                <th>Set #</th>
                <th >Post Test Score</th>

            </tr>
           
        </thead>
        <tbody ng-repeat="pt in MarksReport | filter: SearchText">
            <!--|filter: serachText-->
            <tr>
                <td>{{$index+1}}</td>
                <td>{{pt.MSPIN}}</td>
                <td>{{pt.Name}}</td>
                <td>{{pt.ProgramCode}}</td>
                <td>{{pt.SessionID}}</td>
                <td>{{pt.StartDate|date:'dd-MMM-yy'}}</td>
                <td>
                    <span ng-if="pt.IsPresentInPreTest==0">NA</span>
                    <span ng-if="pt.IsPresentInPreTest==1">{{pt.PreTest_MarksObtained}}</span>
                    <span ng-if="pt.IsPresentInPreTest==1">({{pt.PreTestPercentage}}%)</span>
                   
                </td>
                <td> <span>{{pt.Set_Id}}</span></td>
                <td>
                    <span ng-if="pt.IsPresentInPostTest==0">NA</span>
                    <!--<a href="" >-->
                    <span ng-if="pt.IsPresentInPostTest==1" ng-click="ShowPostTestsScore(pt)">{{pt.PostTest_MarksObtained}}</span>
                    <span ng-if="pt.IsPresentInPostTest==1">({{pt.PostTestPercentage}}%)</span>
                    <button ng-if="pt.IsPresentInPostTest==1"ng-click="ShowPostTestsScore(pt)" style="float:right;" class="btn-xs btn btn-primary">View</button>
                    <!--</a>-->

                </td>


            </tr>
    </table>
    <div style="display:none;">
        <table id="DayWiseReport" class="table table-bordered table-hover">
            <thead>
                <tr style="background: #ecf0f5;font-size: 12px;vertical-align: top;">
                    <th style="vertical-align:top;">S.No</th>
                    <th style="vertical-align:top;">MSPIN</th>
                    <th style="vertical-align:top;">Name</th>
                    <th style="vertical-align:top;">Program code</th>
                    <th style="vertical-align:top;">Session ID</th>
                    <th style="vertical-align:top;">Date of Start</th>
                    <th style="vertical-align:top;">Day 1</th>
                    <th style="vertical-align:top;">Day 2</th>
                    <th style="vertical-align:top;">Day 3</th>
                    <th style="vertical-align:top;">Day 4</th>
                    <th style="vertical-align:top;">Day 5</th>
                    <th style="vertical-align:top;">Day 6</th>
                    <th style="vertical-align:top;">Day 7</th>
                    <th style="vertical-align:top;">Day 8</th>
                    <th style="vertical-align:top;">Day 9</th>
                    <th style="vertical-align:top;">Day 10</th>
                    <th style="vertical-align:top;">Day 11</th>
                    <th style="vertical-align:top;">Day 12</th>
                    <th style="vertical-align:top;">Day 13</th>
                    <th style="vertical-align:top;">Day 14</th>
                    <th style="vertical-align:top;">Day 15</th>
                </tr>
            </thead>
            <tbody ng-repeat="pt in MarksReportDayWise">
                <!--|filter: serachText-->
                <tr style="font-size:11px;">
                    <td>{{$index+1}}</td>
                    <td>{{pt.MSPIN}}</td>
                    <td>{{pt.Name}}</td>
                    <td>{{pt.ProgramCode}}</td>
                    <td>{{pt.SessionID}}</td>
                    <td>{{pt.StartDate|date:'dd-MMM-yy'}}</td>
                    <td ng-repeat="day in pt.DayWiseScore">
                        <span ng-if="day.IsPresent==0"></span>
                        <span ng-if="day.IsPresent==1"><b>{{day.studentmrks}}</b></span>

                    </td>
                    <!--<td>
                        <span ng-if="pt.IsPresentInPreTest==0">NA</span>
                        <span ng-if="pt.IsPresentInPreTest==1">{{pt.PreTest_MarksObtained}}</span>
                    </td>
                    <td>
                        <span ng-if="pt.IsPresentInPostTest==0">NA</span>
                        <a href="" ng-click="ShowPostTestsScore(pt)"></a>
                        <span ng-if="pt.IsPresentInPostTest==1">{{pt.PostTest_MarksObtained}}</span>
                    </td>-->
                </tr>
        </table>
    </div>
</div>

<script type="text/ng-template" id="TestRecords.html">
    <div class="modal-header">
        <h5 class="modal-title">
            <b>Student Post Test Records</b>
            <input type="text" placeholder="Search Here.." ng-model="SearchText" />
            <div style="float:right" class="jarviswidget-ctrls" role="menu">
                <a href="" ng-click="cancel()" class="button-icon jarviswidget-delete-btn" rel="tooltip" title=""
                   data-placement="bottom" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </div>
        </h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align:center;">
                                    Day
                                </th>
                                <th style="text-align:center;">
                                    Set #
                                </th>
                                <th style="text-align:center;">
                                    Marks Scored
                                </th>

                                <th style="text-align:center;">
                                    Maximum Marks
                                </th>
                                <th style="text-align:center;">
                                    %
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="text-align:center;" ng-repeat="pt in StudentPostTestScores |filter:SearchText">
                                <td>{{pt.Day}}</td>
                                <td>{{pt.Set_Id}}</td>
                                <td>{{pt.PostTest_MarksObtained}}</td>
                                <td>{{pt.PostTestMaxMarks}}</td>
                                <td>{{(pt.PostTest_MarksObtained*100)/pt.PostTestMaxMarks | number:2}} %</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</script>