 
<style>
    .box-title {
        font-size: 16px !important;
    }

    .col-xs-27 {
        width: 14.2857143%;
        float: left;
        padding: 0 7.5px;
    }

    .modal-open .modal {
        visibility: visible !important;
    }

    .daterangepicker.dropdown-menu.show-calendar.opensleft {
        width: 544px;
    }
</style>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        SOP Analysis

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">SOP Analysis</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row" style="margin:0 -7.5px">
        <div class="col-xs-27 ">

            <label>Service Date</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right" id="reservation">
            </div>
            <!-- /.input group -->

        </div>

        <div class="col-xs-27">
            <label>Sale Date</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right">
            </div>
            <!-- /.input group -->
        </div>

        <div class="col-xs-27">
            <label>Zone</label>
            <select name="Language" class="form-control">
                <option label="All" value="number:0" selected="selected">All</option>
                <option value="number:10">North</option>
                <option value="number:1">South</option>
                <option value="number:1">West</option>
                <option value="number:1">East</option>
                <option value="number:1">South East</option>
                <option value="number:1">Center</option>
            </select>
        </div>

        <div class="col-xs-27">
            <label>Region</label>
            <select name="Language" class="form-control">
                <option label="All" value="number:0" selected="selected">All</option>
                <option value="number:10">N1</option>
                <option value="number:10">N2</option>
                <option value="number:10">N3</option>
                <option value="number:1">S1</option>
                <option value="number:10">S2</option>
                <option value="number:10">S3</option>
                <option value="number:1">W1</option>
                <option value="number:10">W2</option>
                <option value="number:10">W3</option>
                <option value="number:1">E1</option>
                <option value="number:10">E2</option>
                <option value="number:10">E3</option>
                <option value="number:1">SE1</option>
                <option value="number:10">SE2</option>
                <option value="number:10">SE3</option>
                <option value="number:1">C1</option>
                <option value="number:1">C2</option>
                <option value="number:1">C3</option>
            </select>
        </div>

        <div class="col-xs-27">
            <label>Dealer</label>
            <select name="Language" class="form-control">
                <option label="All" value="number:0" selected="selected">All</option>
                <option value="number:10">N1</option>
                <option value="number:10">N2</option>
                <option value="number:10">N3</option>
                <option value="number:1">S1</option>
                <option value="number:10">S2</option>
                <option value="number:10">S3</option>
                <option value="number:1">W1</option>
                <option value="number:10">W2</option>
                <option value="number:10">W3</option>
                <option value="number:1">E1</option>
                <option value="number:10">E2</option>
                <option value="number:10">E3</option>
                <option value="number:1">SE1</option>
                <option value="number:10">SE2</option>
                <option value="number:10">SE3</option>
                <option value="number:1">C1</option>
                <option value="number:1">C2</option>
                <option value="number:1">C3</option>
            </select>
        </div>
        <div class="col-xs-27">
            <label>Workshop Code</label>
            <select name="Language" class="form-control">
                <option label="All" value="number:0" selected="selected">All</option>
                <option value="number:10">N1</option>
                <option value="number:10">N2</option>
                <option value="number:10">N3</option>
                <option value="number:1">S1</option>
                <option value="number:10">S2</option>
                <option value="number:10">S3</option>
                <option value="number:1">W1</option>
                <option value="number:10">W2</option>
                <option value="number:10">W3</option>
                <option value="number:1">E1</option>
                <option value="number:10">E2</option>
                <option value="number:10">E3</option>
                <option value="number:1">SE1</option>
                <option value="number:10">SE2</option>
                <option value="number:10">SE3</option>
                <option value="number:1">C1</option>
                <option value="number:1">C2</option>
                <option value="number:1">C3</option>
            </select>
        </div>
        <div class="col-xs-27">
            <label>Model</label>
            <select name="Language" class="form-control">
                <option label="All" value="number:0" selected="selected">All</option>
                <option value="number:10">N1</option>
                <option value="number:10">N2</option>
                <option value="number:10">N3</option>
                <option value="number:1">S1</option>
                <option value="number:10">S2</option>
                <option value="number:10">S3</option>
                <option value="number:1">W1</option>
                <option value="number:10">W2</option>
                <option value="number:10">W3</option>
                <option value="number:1">E1</option>
                <option value="number:10">E2</option>
                <option value="number:10">E3</option>
                <option value="number:1">SE1</option>
                <option value="number:10">SE2</option>
                <option value="number:10">SE3</option>
                <option value="number:1">C1</option>
                <option value="number:1">C2</option>
                <option value="number:1">C3</option>
            </select>
        </div>
        <!-- <div class="col-xs-2">
            <label style="width:100%">&nbsp;</label>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ChangeCountry()">Search</button>
        </div> -->

    </div><!--./row-->

    <br />






    <!--
            <div class="form-group" style="max-width:27.5%">
                    <label>SOP Impact Analysis</label>
                    <select class="form-control">
                        <option selected>Quality of repairs</option>
                            <option >Washing Quality</option>
                            <option>Explanation of work Done </option>
                            <option>Explanation of work to be done </option>
                        <option>Time & Attention Paid by Service Advisor </option>
                        <option>Behavior of Service Advisor </option>

                        <option>Delay in Delivery</option>
                    </select>
                </div> -->


    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>

                    <h3 class="box-title">Service Reminder & Booking</h3>

                    <div class="box-tools pull-right hidden">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>

                <div class="box-body">
                    <canvas id="bar-chart-grouped1" height="200"></canvas>
                </div>
            </div>
        </div><!--./col-md-4-->

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>

                    <h3 class="box-title">Service Initiation </h3>

                    <div class="box-tools pull-right hidden">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>

                <div class="box-body">
                    <canvas id="bar-chart-grouped2" height="200"></canvas>
                </div>
            </div>
        </div><!--./col-md-4-->


        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>

                    <h3 class="box-title">Service Delivery</h3>

                    <div class="box-tools pull-right hidden">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>

                <div class="box-body">
                    <canvas id="bar-chart-grouped3" height="200"></canvas>
                </div>
            </div>
        </div><!--./col-md-4-->


        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>

                    <h3 class="box-title">Post Service Follow Up </h3>

                    <div class="box-tools pull-right hidden">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>

                <div class="box-body">
                    <canvas id="bar-chart-grouped4" height="200"></canvas>
                </div>
            </div>
        </div><!--./col-md-4-->

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>

                    <h3 class="box-title">Service Facilities </h3>

                    <div class="box-tools pull-right hidden">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>

                <div class="box-body">
                    <canvas id="bar-chart-grouped5" height="200"></canvas>
                </div>
            </div>
        </div><!--./col-md-4-->




    </div><!--./row-->
</section>
<!-- /.content -->