<section class="content-header ng-scope">
    <h1>
      Change Password Setup
        <!--<small>Preview of UI elements</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Change Password</li>
    </ol>
</section>
<section class="content ng-scope">

    <div class="box" style="">
        <div class="box-header with-border">
            <h3 class="box-title">Change Password</h3>
        </div>
        <div class="box-body">
            <div class="form-group" style="max-width:250px">
                <label>Password</label>
                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="exampleInputEmail1" ng-model="CPassword" placeholder="Password">
            </div>
        </div>
        <div class="box-footer">
            <button ng-click="UpdatePassword()"  class="btn btn-success btn-sm btn-xs">Update</button>
           
            <a href="#/"><button ng-click="" class="btn btn-warning btn-sm btn-xs" style="">Back</button></a>
        </div>
    </div><!--./box-->

</section>